services:
  deno:
    container_name: deno
    image: deno:latest
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./fp.db:/app/fp.db
      - ./static:/app/static
  nginx:
    container_name: nginx
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ./logs/access.log:/var/log/nginx/access.log
      - ./certs/www:/etc/letsencrypt