body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

#logo {
  position: relative;
  justify-content: center;
}

#gateway-logo {
  width: 140px;
  height: auto;
}

#header {
  padding: 5px 5px;
  text-align: center;
  display: inline;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

#title-text {
  color: #000;
  flex: auto;
  flex-direction: column;
}

#title-text h1 {
  font-size: 48px;
  font-weight: bold;
}

#title-text h2 {
  font-size: 24px;
  font-weight: semi-bold;
}

#content {
  max-width: 80%;
  margin: auto;
  background-color: #3b3b3b;
  color: #ffb570;
  word-wrap: break-word;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

#footer {
  text-align: center;
  padding: 10px;
  color: #000;
  border-radius: 8px;
  margin-top: 20px;
}

#footer p {
  margin: 0;
  font-size: 14px;
}